.home-container {
    background-image: url('/assets/image/background3.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* Set minimum height to ensure the background covers the entire viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    /* Set text color to e nsure contrast with the background */
    text-align: center;
}




.logo-container {
    width: 200px;
    /* Adjust width as needed */
    height: 100px;
    /* Adjust height as needed */
    background-image: url('/assets/image/logo.png');
    /* Replace 'path/to/your/logo.png' with the actual path to your logo image file */
    background-size: contain;
    /* Adjust background size as needed */
    background-repeat: no-repeat;
    /* Prevent repeating the image */
    background-position: center;
    /* Center the image */
}

.Login {
    position: relative;
    display: inline-block;
    margin: 2px;
    padding: 5px 6px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000000;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725ac1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725ac1;
}

.Login:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725ac1;
}

.Login:active {
    transform: scale(0.9);
}

li {
    color: white;
}